/* Navbar styling */
.navbar {
  background-color: #333;
  overflow: hidden;
}

/* Navbar list */
.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Navbar items */
.nav-item {
  float: left;
}

/* Navbar links */
.nav-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Change color on hover */
.nav-link:hover {
  background-color: #555;
  color: white;
}


body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
  padding: 0;
}

header {
  background-color: #f9f9f9;
  text-align: center;
  padding: 20px;
}

.sub-header {
  font-size: 1.2em;
}

h2 {
  background-color: #f0f0f0;
  padding: 10px;
}

ul, ol {
  margin-left: 20px;
}

blockquote {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 20px 0;
}

footer {
  text-align: center;
  margin-top: 30px;
}

/* Carousel styling */
#carousel {
  width: 600px;
  height: 400px;
  overflow: hidden;
  margin: auto;
}

#carousel img {
  width: 100%;
  height: 100%; /* Changed from auto */
  object-fit: contain; /* Make the image fit within the dimensions */
  display: none; /* Hide images by default */
}

#carousel img.active {
  display: block; /* Show active image */
}
